/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#background{
	-fx-background-image : url("../../ressources/wallaper.jpg");
	-fx-background-repeat : no-repeat;
	-fx-background-size : cover;
}